<h1>
	Contact us!
</h1>

<form action="/contact" method="post">
	<label for="name">Name</label>
	<input type="text" id="name" name="name" placeholder="Type your name here!">
	<br>
	<br>

	<label for="name">Email</label>
	<input type="text" id="email" name="email" placeholder="Type your email here!">
	<br>
	<br>

	<label for="message">Message</label>
	<input type="textarea" id="message" name="message" placeholder="Type your message here!">
	<br>
	<br>

	<label for="department">Department</label>
	<input type="text" id="department" name="department">
	<input type="radio" name="department" value="sales">Sales
	<input type="radio" name="department" value="accounting">Accounting
	<br>
	<br>

	<input type="submit" value="Contact Us">
</form>