<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/css/styles2.css">
		<!-- HREF by default will look in the "public" folder. THEREFORE don't add .. in the directory path -->
		<title>
			Rate my Website
		</title>

	</head>

	<body>
		<div id="bar">
			<h1>
				Welcome to THE WEBSITE!
			</h1>

			<a href="/">Go to home page</a>
		</div>
		
		<%= yield %>

	</body>


</html>